body {
    background-image: url('https://bestof.nyc3.digitaloceanspaces.com/devsnap.me/sam/css-particles-background.gif');
    background-size: cover;
}

.container {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    box-shadow: var(--box-shadow);
}

.container,
#data,
#result {
    background: var(--transp-01);
    backdrop-filter: blur(10px);
    border-radius: 1rem;
}

#data,
#result {
    border: 2px solid var(--transp-05);
    border-right: 2px solid var(--transp-02);
    border-bottom: 2px solid var(--transp-02);
}

#data {
    display: flex;
    align-items: center;
    padding: 1rem;
    color: var(--white);
    width: 50rem;
    font-size: 1.3rem;
}

input {
    padding: 0.5rem;
    border-radius: 0.3rem;
}

input[type=button] {
    color: var(--white);
    background: none;
    border: 1px solid var(--white);
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.8rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

input[type=button]:hover {
    border: 1px solid transparent;
    background-image: radial-gradient(circle 597px at 93% 9.8%, rgba(255, 61, 89, 1) 1.7%, rgba(252, 251, 44, 1) 97%);
}

#result {
    border-radius: 1rem;
    padding: 1rem;
    color: var(--white);
    width: 50rem;
    font-size: 1.4rem;
    text-align: justify;
}